@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "colors";
@import 'mapbox';
@import 'map';
@import 'components';

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  height: 100vh;
  padding: 0;
  flex: 1;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    height: 100vh;
    padding: 0;
    flex: 1;
  }
}

.no-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: $button-color;
  color: $button-text-color;
}
